$font : 'Lato', sans-serif;

html,body{
    padding: 0;
    margin: 0;
    font-family: $font;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

input,textarea{
    font-family: $font;
    font-size: 18px;    
    color: #242424;
    cursor: pointer;
}


button{
    opacity: .9;
    cursor: pointer;
    
    &:hover{
        opacity: 1;
    }
}

#wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#area{
    max-width: 600px;
    width: 100%;
    
    & > form{
        width: 100%;

        & > textarea{

            width: 100%;
            min-height: 175px;

        }
        
    }
    
}

.form-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

textarea{
    border: 1px solid rgba(0,0,0,.3);
    padding: 20px;
    font-family: $font;
    border-radius: 3px;
}

button[type="button"]{
    padding: 20px 30px;
    border: 1px solid rgba(0,0,0,.3);
    background: #2fc681;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
}

// Misc

#status{
    color: #777;
}